<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywb.dao.BookMapper">
    <select id="selectBookById" resultType="com.ywb.entity.Book">
        select * from Book where id=#{id}
    </select>
    <delete id="del" parameterType="Integer">
        delete from Book where id=#{id}
    </delete>
    <update id="update" parameterType="com.ywb.entity.Book">
        update Book set name=#{name} where id=#{id}
    </update>
    <insert id="add" parameterType="com.ywb.entity.Book">
        insert into Book(id, name, number) values(#{id}, #{name}, #{number})
    </insert>
</mapper>